@font-face {
  font-family: 'CircularStd';
  font-weight: 400;
  src: url("fonts/Circular/CircularStd-Book.otf");
}


@font-face {
  font-family: 'CircularStd';
  font-weight: 500;
  src: url("fonts/Circular/CircularStd-Medium.otf");
}

@font-face {
  font-family: 'CircularStd';
  font-weight: 800;
  src: url("fonts/Circular/CircularStd-Bold.otf");
}

@font-face {
  font-family: 'CircularStd';
  font-weight: 900;
  src: url("fonts/Circular/CircularStd-Black.otf");
}

body {
  margin: 0;
  font-family: 'CircularStd';
  -webkit-font-smoothing: antialiased;
}

#myBtn {display: none;}

.modal {display: none;}

.modal .links {
  padding: 60px 40px;
   display: block;
   width: 100px;
   font-size: 24px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1;
   letter-spacing: normal;
   color: rgba(96, 101, 132, 0.75);
}

.modal a {text-decoration: none;display:block;color:rgba(96, 101, 132, 0.75);width:150px;margin-bottom: 40px;}

.modal .modal_line {width:240px;height:1px;background-color: #e9ebf3;margin-bottom: 40px;}

.container {
    position: absolute;
    height: 40px;
    top: 15px;
    width: 100px;
}

.main {
  max-width: 1110px;
  padding: 0 25px;
  margin: auto;
  margin-top: 70px;
}

.header {
    position: relative;
    width: 100%;
    height: 25px;
}

a {
  display: block;
  text-decoration: none;
}

.dropdown {
    cursor: pointer;
    float: left;
}

.triangle {
    position: absolute;
    background-image: url("img/triangle.svg");
    width: 30px;
    opacity: 0.0;
    height: 30px;
    margin-top: 10px;
    margin-right: 18px;
    background-size: 100% 100%;
}

.community_content {
    cursor: default;
    top: 30px;
    width: 160px;
    height: 174px;
    opacity: 0.0;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0 12px 36px 0 rgba(31, 39, 83, 0.07);
    border: solid 1px #e9ebf3;
    background-color: #ffffff;
}

.community_content a {
  width: fit-content;
  width: -moz-fit-content;
  display: flex;
  margin: 20px 24px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #2e72fe;
}

.community_content a:nth-child(1) {
  margin-top: 24px;
}

.community_content a:hover {opacity: 0.75;}

.dropdown:hover .community_content {transition: 0.3s ease-in;display: block;right: 10px;opacity:1.0;}

.dropdown:hover .triangle {transition: 0.3s ease-in;display: block;right: 10px;opacity:1.0;}

.header .logo {position: absolute;object-fit: contain;width: 114px;height: 24px;left: 0;background-repeat: no-repeat;background-image: url("img/combined-shape.svg");}

.header .menu {position: absolute;right: 0;color: rgba(96, 101, 132, 0.75);}

.header .menu .menu_element {transition: 0.3s ease-in;cursor: pointer;text-align: center;font-weight: bold;font-style: normal;font-stretch: normal;line-height: 1;letter-spacing: normal;color: rgba(96, 101, 132, 0.75);}

.header .menu .menu_element:hover {opacity: 0.75;}

.header .menu .menu_element:nth-child(1) {
    float: left;
    margin-right: 40px;
}

.header .menu .menu_element:nth-child(2) {
    float: left;
    margin-right: 40px;
}

.header .menu .menu_element:nth-child(3) {
    float: left;
    margin-right: 40px;
}

.header .menu .menu_element:nth-child(4) {display: flex;}

h1 {
  font-size: 42px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #1f2753;
}

.team h1 {
  margin: auto;
  margin-top: 80px;
  margin-bottom: 20px;
}

h2 {
 font-size: 18px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.56;
 letter-spacing: normal;
 text-align: center;
 color: #606584;
}

.team h2 {
  width: 730px;
  margin: auto;
}

.team {
    width: 100%;
}

.members {margin: auto;margin-top: 60px;width: 961px;flex-wrap: wrap;display: flex;}

.member {margin-left: 180px;margin-bottom: 120px;}

.person .member:hover .hidden {
  display: block;

  -webkit-animation: fadeInFromNone 0.3s ease-in;
  -moz-animation: fadeInFromNone 0.3s ease-in;
  -o-animation: fadeInFromNone 0.3s ease-in;
  animation: fadeInFromNone 0.3s ease-in;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.member:nth-child(1) {margin-left: 0;}

.member:nth-child(4) {margin-left: 0;}

.member:nth-child(7) {margin-left: 0;}

.hidden_member .name, .hidden_member .job {
    margin-left: 1px;
}

.hidden_member .image, .member .image {width: 200px;height: 200px;border-radius: 8px;}

.hidden_member .name, .member .name {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: #1f2753;
    margin-top: 20px;
}

.hidden_member .job, .member .job {
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #2e72fe;
    margin-top: 10px;
}

.person {width: 200px;margin-left: 180px;display: grid;}

.person .image img {width: 100%;border-radius: 8px;}

.hidden_member, .member, .hidden {
  transition: 0.3s ease-in;
  z-index: 99;
  grid-column: 1;
  grid-row: 1;
}

.person:nth-child(1) {z-index: 80;}
.person:nth-child(2) {z-index: 79;}
.person:nth-child(3) {z-index: 78;}
.person:nth-child(4) {z-index: 77;}
.person:nth-child(5) {z-index: 76;}
.person:nth-child(6) {z-index: 75;}
.person:nth-child(7) {z-index: 74;}
.person:nth-child(8) {z-index: 73;}
.person:nth-child(9) {z-index: 72;}
.person:nth-child(10) {z-index: 71;}


.person:nth-child(1) {margin-left: 0;}
.person:nth-child(4) {margin-left: 0;}
.person:nth-child(7) {margin-left: 0;}
.person:nth-child(10) {margin-left: 0;}

.person .hidden {
  position: absolute;
  display: none;

  box-sizing: border-box;
  margin-left: -76px;
  margin-top: -311px;
  z-index: 100;
  border-radius: 8px;
  box-shadow: 0 12px 36px 0 rgba(31, 39, 83, 0.07);
  border: solid 1px #e9ebf3;
  background-color: #ffffff;
  width: 351px;


}

.person .hidden .hidden_member .image {margin: auto;}

.person .hidden .hidden_member {margin:0;padding: 40px 75px;}

.person .hidden .hidden_member .description {font-size: 14px;font-weight: normal;font-style: normal;width: 270px;font-stretch: normal;line-height: 1.43;margin-left: -33px;letter-spacing: normal;text-align: center;color: rgba(96, 101, 132, 0.75);margin-top: 20px;}

.hidden_member .links, .person  .member .links {
    display: flex;
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    width: -moz-fit-content;
}

.hidden_member .links .github, .person .member .links .github {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background-image: url("img/github.svg");
}

.hidden_member .links .linkedin, .person .member .links .linkedin {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background-image: url(img/linkedin.svg);
}


.media h1 {
    margin: 0;
    margin-bottom: 60px;
}

.media .blocks {
  display: flex;
}

.media .blocks .link:hover {opacity: 0.75;}

.media .blocks .logo img {width: 100%;}

.media .blocks .logo {margin-bottom: 18px;}

.media .blocks .first .logo {
    width: 53px;
    height: 30px;
}
.media .blocks .second .logo {
  width: 170px;
  height: 30px;
}
.media .blocks .third .logo {
  width: 116px;
  height: 30px;
}

.media .blocks .text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: rgba(96, 101, 132, 0.75);
}

.media .blocks .link {
  transition: 0.3s ease-in;
    margin-top: 18px;
    display: inline-flex;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #2e72fe;
}

.media .blocks .link::before {
    content: "";
    display: block;
    background-image: url("img/link-blue.svg");
    width: 14px;
    height: 14px;
    margin-right: 8px;
}

.media .blocks .first {
  padding: 24px 28px;
  border-radius: 8px;
  box-shadow: 0 12px 36px 0 rgba(31, 39, 83, 0.07);
  border: solid 1px #e9ebf3;
  background-color: #ffffff;
}

.media .blocks .second {
  margin-left: 30px;
  padding: 24px 28px;
  border-radius: 8px;
  box-shadow: 0 12px 36px 0 rgba(31, 39, 83, 0.07);
  border: solid 1px #e9ebf3;
  background-color: #ffffff;
}

.media .blocks .third {
  margin-left: 30px;
  padding: 24px 28px;
  border-radius: 8px;
  box-shadow: 0 12px 36px 0 rgba(31, 39, 83, 0.07);
  border: solid 1px #e9ebf3;
  background-color: #ffffff;
}

.advisors {padding-bottom: 120px;border-bottom: 1px solid rgba(96, 101, 132, 0.15);}

.advisors .person:nth-child(4) .hidden {margin-top: -337px;}

.media {
    margin-bottom: 140px;
    margin-top: 120px;
}

.media .question {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: center;
    color: rgba(96, 101, 132, 0.75);
    margin-top: 40px;
}

.media .pr_link {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #2e72fe;
    margin-top: 10px;
}

.sponsors {
    position: relative;
    width: 823px;
    margin: auto;
    display: flex;
    margin-top: 120px;
}

.sponsors .logo {display:flex;margin-left: 49px !important;}

.sponsors .logo:nth-child(1) {
    width: 175px;
    height: 30px;
    margin: auto !important;
}
.sponsors .logo:nth-child(2) {
    width: 72px;
    height: 32px;
    margin: auto;
}
.sponsors .logo:nth-child(3) {
    width: 120px;
    height: 42px;
    margin: auto;
}
.sponsors .logo:nth-child(4) {
    width: 130px;
    height: 37px;
    margin: auto;
}
.sponsors .logo:nth-child(5) {
    width: 130px;
    height: 50px;
    margin: auto;
}

.sponsors .logo img {width: 100%}

.footer {position: relative;margin: auto;max-width: 1270px;width: 100%;border-radius: 40px 40px 0 0;background-image: linear-gradient(292deg, #1248db, #528afc);padding-bottom: 100px;}

.footer .top {display: flex;height: 178px;border-bottom: 1px solid rgba(255, 255, 255, 0.25);}

.footer .top .text {float: left;font-size: 22px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1;margin-top: 76px;margin-left: 80px;letter-spacing: normal;color: #ffffff;}

.footer .top .buttons {display: flex;right: 0;position: absolute;}

.footer .top .buttons .get_started {cursor: pointer;width: 321px;margin-top: 60px;padding: 20px 0;text-align: center;align-items: center;box-sizing: border-box;height: 58px;float: left;font-size: 16px;font-weight: bold;font-style: normal;margin-right: 30px;font-stretch: normal;line-height: 1;letter-spacing: normal;color: #2158e2;border-radius: 8px;background-color: #ffffff;transition: 0.3s ease-in;}

.footer .top .buttons .get_started:hover {background-color: rgba(255, 255, 255, 0.75);}

.footer .top .buttons .run {transition: 0.3s ease-in;cursor: pointer;width: 199px;margin-top: 60px;padding: 0 50px;display: flex;align-items: center;box-sizing: border-box;height: 58px;float: left;font-size: 16px;font-weight: bold;font-style: normal;font-stretch: normal;line-height: 1;letter-spacing: normal;color: #2158e2;border-radius: 8px;background-color: #ffffff;margin-right: 80px;}

.footer .top .buttons .run:hover {background-color: rgba(255, 255, 255, 0.75);}

.footer .bottom {display: flex;}

.footer .bottom .logo_block {margin-top: 60px;margin-left: 80px;float: left;}

.footer .bottom .logo {width: 114px;height: 24px;background-repeat: no-repeat;filter: invert(100%) brightness(62);background-image: url("img/combined-shape.svg");}

.footer .bottom .rights {margin-top: 20px;font-size: 16px;width: 160px;opacity: 0.35;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.75;letter-spacing: normal;color: #ffffff;}

.footer .bottom .community_block {float: left;max-width: 300px;margin-top: 69px;margin-left: 9%;}

.footer .bottom .community_block .title {font-size: 14px;font-weight: 900;font-style: normal;font-stretch: normal;line-height: 1.14;opacity: 0.35;letter-spacing: 1px;color: #ffffff;}

.footer .bottom .community_block ul {list-style-type: none;padding: 0;margin: 0;margin-top: 30px;font-size: 16px;font-weight: bold;font-style: normal;font-stretch: normal;letter-spacing: normal;color: #ffffff;line-height: 1;}

.footer .bottom .community_block ul li {
  cursor: pointer;
    transition: 0.3s ease-in;
    margin-bottom: 20px;
}

.footer .bottom .community_block ul li:nth-child(4){
  margin-bottom: 0;
}

.footer .bottom ul li:hover {opacity: 0.75;}

.footer .bottom .labs_block {float: left;margin-top: 69px;margin-left: 14%;}

.footer .bottom .labs_block .title {font-size: 14px;font-weight: 900;font-style: normal;font-stretch: normal;line-height: 1.14;opacity: 0.35;letter-spacing: 1px;color: #ffffff;}

.footer .bottom .labs_block ul {list-style-type: none;padding: 0;margin: 0;margin-top: 30px;font-size: 16px;font-weight: bold;font-style: normal;font-stretch: normal;letter-spacing: normal;color: #ffffff;line-height: 1;}

.footer .bottom .labs_block ul li {
  cursor: pointer;
  transition: 0.3s ease-in;
    margin-bottom: 20px;
}

.footer .bottom .labs_block ul li:nth-child(3){
  margin-bottom: 0;
}

.footer .bottom .follow_block {margin-top: 69px;float: left;margin-left: 12%;}

.footer .bottom .follow_block .title {font-size: 14px;font-weight: 900;font-style: normal;font-stretch: normal;line-height: 1.14;opacity: 0.35;letter-spacing: 1px;color: #ffffff;}

.footer .bottom .follow_block .email_section {
    margin-top: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.footer .bottom .follow_block .email {height: 50px;width: 255px;border-radius: 6px;border: solid 1px rgba(255, 255, 255, 0.25);background-color: transparent;display: block;color: white;font-size: 16px;font-family: 'CircularStd';}

.footer .bottom .follow_block input {text-indent:18px;line-height: 22px;}

.footer .bottom .follow_block input::placeholder {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
opacity: 0.35;
font-family: 'CircularStd';}

.bottom .community_block a {color:white;}

.footer .bottom .follow_block input:focus {border:solid 1px white;outline: none !important;caret-color: #ffffff;}

.footer .bottom .follow_block .arrow {
  width: 24px;
  height: 19px;
  opacity: 0.35;
  top: 0;
  margin: auto;
  right: 20px;
  bottom: 0;
  background: none;
  background-image: url(img/arrow.svg);
  position: absolute;
  border: none;
}

.footer .bottom .follow_block .icons {max-width: 208px;float: left;margin-top: 20px;}

.footer .bottom .follow_block .facebook {transition: 0.3s ease-in;width: 32px;height: 32px;margin-right: 20px;background-image: url("img/facebook.svg");float: left;}

.footer .bottom .follow_block .facebook:hover {opacity: 0.5;}

.footer .bottom .follow_block .twitter {
  transition: 0.3s ease-in;
    width: 32px;
    height: 32px;
    margin-right: 20px;
    background-image: url(img/twitter.svg);
    float: left;
}

.footer .bottom .follow_block .twitter:hover {opacity: 0.5;}

.footer .bottom .follow_block .medium {
  transition: 0.3s ease-in;
    width: 32px;
    height: 32px;
    margin-right: 20px;
    background-image: url(img/medium.svg);
    float: left;
}

.footer .bottom .follow_block .medium:hover {opacity: 0.5;}

.footer .bottom .follow_block .youtube {
  transition: 0.3s ease-in;
    width: 32px;
    height: 32px;
    margin-right: 20px;
    background-image: url(img/youtube.svg);
    float: left;
}

.footer .bottom .follow_block .youtube:hover {opacity:0.5;}

.desktop_hidden {display: none;}

.footer_mobile {display: none;}

@media (max-width: 1280px) {

  .footer_mobile {display: none;}

  .member {transition: initial;}

  #myBtn {display: none;}

  #myModal {display: none;}

  .members {margin: auto;margin-top: 60px;width: 901px;flex-wrap: wrap;display: flex;}

  .person {margin-left: 140px;}

  .footer {margin: auto;max-width: 1270px;width: 100%;background-image: linear-gradient(292deg, #1248db, #528afc);padding-bottom: 100px;border-radius: 0;}

  .footer .top {display: flex;height: 178px;border-bottom: 1px solid rgba(255, 255, 255, 0.25);}

  .footer .top .text {width: 30%;font-size: 22px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.2;margin-top: 70px;margin-left: 80px;letter-spacing: normal;color: #ffffff;}

  .footer .top .buttons {display: block;right: 0;position: absolute;}

  .footer .top .buttons .get_started {right: 0;cursor: pointer;width: 321px;margin-top: 60px;align-items: center;box-sizing: border-box;height: 58px;float: left;font-size: 16px;font-weight: bold;font-style: normal;margin-right: 30px;font-stretch: normal;line-height: 1;letter-spacing: normal;color: #2158e2;border-radius: 8px;background-color: #ffffff;transition: 0.3s ease-in;padding: 20px 0;text-align: center;}

  .footer .top .buttons .get_started:hover {background-color: rgba(255, 255, 255, 0.75);}

  .footer .top .buttons .run {transition: 0.3s ease-in;cursor: pointer;width: 199px;margin-top: 60px;padding: 0 50px;display: flex;align-items: center;box-sizing: border-box;height: 58px;float: left;font-size: 16px;font-weight: bold;font-style: normal;font-stretch: normal;line-height: 1;letter-spacing: normal;color: #2158e2;border-radius: 8px;background-color: #ffffff;margin-right: 80px;}

  .footer .top .buttons .run:hover {background-color: rgba(255, 255, 255, 0.75);}

  .footer .bottom {display: flex;}

  .footer .bottom .logo_block {margin-top: 60px;margin-left: 80px;float: left;}

  .footer .bottom .logo {width: 114px;height: 24px;background-repeat: no-repeat;filter: invert(100%) brightness(62);background-image: url("img/combined-shape.svg");}

  .footer .bottom .rights {margin-top: 20px;font-size: 16px;width: 160px;opacity: 0.35;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.75;letter-spacing: normal;color: #ffffff;}

  .footer .bottom .community_block {float: left;max-width: 300px;margin-top: 69px;margin-left: 70px;}

  .footer .bottom .community_block .title {font-size: 14px;font-weight: 900;font-style: normal;font-stretch: normal;line-height: 1.14;opacity: 0.35;letter-spacing: 1px;color: #ffffff;}

  .footer .bottom .community_block ul {list-style-type: none;padding: 0;margin: 0;margin-top: 30px;font-size: 16px;font-weight: bold;font-style: normal;font-stretch: normal;letter-spacing: normal;color: #ffffff;line-height: 1;}

  .footer .bottom .community_block ul li {
    cursor: pointer;
      transition: 0.3s ease-in;
      margin-bottom: 20px;
  }

  .footer .bottom .community_block ul li:nth-child(4){
    margin-bottom: 0;
  }

  .footer .bottom ul li:hover {opacity: 0.75;}

  .footer .bottom .labs_block {float: left;margin-top: 69px;margin-left: 70px;}

  .footer .bottom .labs_block .title {font-size: 14px;font-weight: 900;font-style: normal;font-stretch: normal;line-height: 1.14;opacity: 0.35;letter-spacing: 1px;color: #ffffff;}

  .footer .bottom .labs_block ul {list-style-type: none;padding: 0;margin: 0;margin-top: 30px;font-size: 16px;font-weight: bold;font-style: normal;font-stretch: normal;letter-spacing: normal;color: #ffffff;line-height: 1;}

  .footer .bottom .labs_block ul li {
    cursor: pointer;
    transition: 0.3s ease-in;
      margin-bottom: 20px;
  }

  .footer .bottom .labs_block ul li:nth-child(3){
    margin-bottom: 0;
  }

  .footer .bottom .follow_block {margin-top: 69px;float: left;margin-left: 70px;}

  .footer .bottom .follow_block .title {font-size: 14px;font-weight: 900;font-style: normal;font-stretch: normal;line-height: 1.14;opacity: 0.35;letter-spacing: 1px;color: #ffffff;}

  .footer .bottom .follow_block .email_section {
      margin-top: 40px;
      position: relative;
      display: flex;
      flex-direction: row;
  }

  .footer .bottom .follow_block .email {height: 50px;width: 255px;border-radius: 6px;border: solid 1px rgba(255, 255, 255, 0.25);background-color: transparent;display: block;color: white;font-size: 16px;font-family: 'CircularStd';}

  .footer .bottom .follow_block input {text-indent:18px;line-height: 22px;}

  .footer .bottom .follow_block input::placeholder {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffffff;
  opacity: 0.35;
  font-family: 'CircularStd';}

  .footer .bottom .follow_block input:focus {border:solid 1px white;outline: none !important;caret-color: #ffffff;}

  .footer .bottom .follow_block .arrow {width: 24px;height: 19px;opacity: 0.35;top: 0;margin: auto;right: 20px;bottom: 0;background: none;background-image: url("img/arrow.svg");position: absolute;border: none;}

  .footer .bottom .follow_block .icons {max-width: 208px;float: left;margin-top: 20px;}

  .footer .bottom .follow_block .facebook {transition: 0.3s ease-in;width: 32px;height: 32px;margin-right: 20px;background-image: url("img/facebook.svg");float: left;}

  .footer .bottom .follow_block .facebook:hover {opacity: 0.5;}

  .footer .bottom .follow_block .twitter {
    transition: 0.3s ease-in;
      width: 32px;
      height: 32px;
      margin-right: 20px;
      background-image: url(img/twitter.svg);
      float: left;
  }

  .footer .bottom .follow_block .twitter:hover {opacity: 0.5;}

  .footer .bottom .follow_block .medium {
    transition: 0.3s ease-in;
      width: 32px;
      height: 32px;
      margin-right: 20px;
      background-image: url(img/medium.svg);
      float: left;
  }

  .footer .bottom .follow_block .medium:hover {opacity: 0.5;}

  .footer .bottom .follow_block .youtube {
    transition: 0.3s ease-in;
      width: 32px;
      height: 32px;
      margin-right: 20px;
      background-image: url(img/youtube.svg);
      float: left;
  }

  .footer .bottom .follow_block .youtube:hover {opacity:0.5;}

}

@media (max-width: 1023px) and (min-width: 768px) {

  .member {transition: initial;}

  #myBtn {display: none;}

  #myModal {display: none;}

  .media .third {display: none;}

  .person:nth-child(10) .member {margin-bottom: 0 !important;}

  .advisors .person:nth-child(7) .member {margin-bottom: 0 !important;}

  .advisors {border-bottom: inherit;padding-bottom: inherit;}

  .sponsors {display: none;}

  .team h2 {font-size: 18px;width: 708px;}

  .desktop_hidden {display: block;}

  .members {width: 706px;}

  .person {margin-left: 45px;}

  .image {width: 160px !important; height: 160px !important;}

  .hidden {display:none !important;}

  .name {text-align: left !important;}

  .job {text-align: left !important;}

  .desktop_hidden .description {
    margin-top: 10px;
    width: 216px !important;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: rgba(96, 101, 132, 0.75);
  }

  .desktop_hidden .links {float: left;margin:0;width: fit-content;}
  .desktop_hidden .links .linkedin {margin:0 !important;}
  .desktop_hidden .links .github {margin: 0 !important;margin-right: 10px !important;}

  .footer_mobile {display: none;}

  .footer {margin: auto;max-width: 1270px;width: 100%;background-image: linear-gradient(292deg, #1248db, #528afc);padding-bottom: 97px;border-radius: initial;}

  .footer .top {position: relative;width: 100%;display: block;padding-bottom: 15px;border-bottom: 1px solid rgba(255, 255, 255, 0.25);}

  .footer .top .text {font-size: 18px;position: relative;width: 80%;font-weight: normal;padding-top: 40px;margin-left: 30px;margin-top: 0;margin-bottom: 20px;font-style: normal;font-stretch: normal;line-height: 1.4;letter-spacing: normal;color: #ffffff;}

  .footer .top .buttons {
      margin: 0;
      margin-top: 30px;
      right: inherit;
  }

  .footer .top .buttons .get_started {margin-left: 30px;cursor: pointer;align-items: center;box-sizing: border-box;height: 58px;padding: 20px 0;text-align: center;width: 321px;font-size: 16px;font-weight: bold;font-style: normal;font-stretch: normal;line-height: 1;letter-spacing: normal;margin-right: 0;color: #2158e2;border-radius: 8px;background-color: #ffffff;transition: 0.3s ease-in;}

  .footer .top .buttons .get_started:hover {background-color: rgba(255, 255, 255, 0.75);}

  .footer .top .buttons .run {margin-right: 0 !important;margin-left: 20px;transition: 0.3s ease-in;cursor: pointer;width: 321px;align-items: center;text-align: center;box-sizing: border-box;/* height: 58px; *//* font-size: 16px; */padding: 20px 0;/* font-weight: bold; *//* font-style: normal; *//* font-stretch: normal; *//* line-height: 1; *//* margin-left: 20px; *//* letter-spacing: normal; *//* color: #2158e2; */display: block;/* border-radius: 8px; *//* background-color: #ffffff; */}

  .footer .top .buttons .run:hover {background-color: rgba(255, 255, 255, 0.75);}

  .footer .bottom {display: flex;height: 320px;}

  .footer .bottom .logo_block {
    margin-top: 303px;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.21);
    padding-top: 45px;
    padding-left: 60px;
    width: 100%;
    margin-left: 0;
}

  .footer .bottom .logo {width: 114px;height: 24px;background-repeat: no-repeat;filter: invert(100%) brightness(62);background-image: url("img/combined-shape.svg");}

  .footer .bottom .rights {margin-top: 3px;font-size: 16px;margin-left: 20px;width: 300px;opacity: 0.35;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.75;letter-spacing: normal;color: #ffffff;}

  .footer .bottom .community_block {
    position: absolute;
    left: 62px;
    margin-left: 0;
    margin-top: 60px;
}

  .footer .bottom .community_block .title {font-size: 14px;font-weight: 900;font-style: normal;font-stretch: normal;line-height: 1.14;opacity: 0.35;letter-spacing: 1px;color: #ffffff;}

  .footer .bottom .community_block ul {list-style-type: none;padding: 0;margin: 0;margin-top: 30px;font-size: 16px;font-weight: bold;font-style: normal;font-stretch: normal;letter-spacing: normal;color: #ffffff;line-height: 1;}

  .footer .bottom .community_block ul li {
    cursor: pointer;
      transition: 0.3s ease-in;
      margin-bottom: 20px;
  }

  .footer .bottom .community_block ul li:nth-child(4){
    margin-bottom: 0;
  }

  .footer .bottom ul li:hover {opacity: 0.75;}

  .footer .bottom .labs_block {
    position: absolute;
    left: 249px;
    margin-left: 0;
    margin-top: 60px;
}

  .footer .bottom .labs_block .title {font-size: 14px;font-weight: 900;font-style: normal;font-stretch: normal;line-height: 1.14;opacity: 0.35;letter-spacing: 1px;color: #ffffff;}

  .footer .bottom .labs_block ul {list-style-type: none;padding: 0;margin: 0;margin-top: 30px;font-size: 16px;font-weight: bold;font-style: normal;font-stretch: normal;letter-spacing: normal;color: #ffffff;line-height: 1;}

  .footer .bottom .labs_block ul li {
    cursor: pointer;
    transition: 0.3s ease-in;
      margin-bottom: 20px;
  }

  .footer .bottom .labs_block ul li:nth-child(3){
    margin-bottom: 0;
  }

  .footer .bottom .follow_block {
    margin-left: 0;
    position: absolute;
    margin-top: 60px;
    left: 465px;
}

  .footer .bottom .follow_block .title {font-size: 14px;font-weight: 900;font-style: normal;font-stretch: normal;line-height: 1.14;opacity: 0.35;letter-spacing: 1px;color: #ffffff;}

  .footer .bottom .follow_block .email_section {
      margin-top: 30px;
      position: relative;
      display: flex;
      flex-direction: row;
  }

  .footer .bottom .follow_block .email {height: 50px;width: 255px;border-radius: 6px;border: solid 1px rgba(255, 255, 255, 0.25);background-color: transparent;display: block;color: white;font-size: 16px;font-family: 'CircularStd';}

  .footer .bottom .follow_block input {text-indent:18px;line-height: 22px;}

  .footer .bottom .follow_block input::placeholder {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffffff;
  opacity: 0.35;
  font-family: 'CircularStd';}

  .footer .bottom .follow_block input:focus {border:solid 1px white;outline: none !important;caret-color: #ffffff;}

  .footer .bottom .follow_block .arrow {width: 24px;height: 19px;opacity: 0.35;background: none;background-image: url("img/arrow.svg");position: absolute;right: 21px;top: 17px;margin: 0;border: none;}

  .footer .bottom .follow_block .icons {max-width: 208px;float: left;margin-top: 20px;}

  .footer .bottom .follow_block .facebook {transition: 0.3s ease-in;width: 32px;height: 32px;margin-right: 20px;background-image: url("img/facebook.svg");float: left;}

  .footer .bottom .follow_block .facebook:hover {opacity: 0.5;}

  .footer .bottom .follow_block .twitter {
    transition: 0.3s ease-in;
      width: 32px;
      height: 32px;
      margin-right: 20px;
      background-image: url(img/twitter.svg);
      float: left;
  }

  .footer .bottom .follow_block .twitter:hover {opacity: 0.5;}

  .footer .bottom .follow_block .medium {
    transition: 0.3s ease-in;
      width: 32px;
      height: 32px;
      margin-right: 20px;
      background-image: url(img/medium.svg);
      float: left;
  }

  .footer .bottom .follow_block .medium:hover {opacity: 0.5;}

  .footer .bottom .follow_block .youtube {
    transition: 0.3s ease-in;
      width: 32px;
      height: 32px;
      margin-right: 20px;
      background-image: url(img/youtube.svg);
      float: left;
  }

  .footer .bottom .follow_block .youtube:hover {opacity:0.5;}

}

@media (max-width: 767px) {

  .header .menu {display: none;}

  .main {max-width: 350px !important;margin-top: 36px;}

  .member {transition: initial;}

  .header .menu .menu_element:nth-child(1) {display: none;}

  .header .menu .menu_element:nth-child(2) {display: none;}

  .header .menu .menu_element:nth-child(3) {display: none;}

  .header .menu .menu_element:nth-child(4) {display: none;}

  #myBtn {float:right;display: block;}

  .modal {
      display: none;
      position: fixed;
      z-index: 150;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
  }

  .modal.active {display: block !important;}

  #myBtn {background: none;cursor: pointer;background-image: url("img/menu.svg");width: 24px;height: 20px;padding: 0;border: none;}

  #myBtn:focus {outline:0;}

  .modal-content {
      background-color: #ffffff;
      box-sizing: border-box;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      overflow: auto;
  }

  .close {
    background-image: url("img/close.svg");
    width: 19px;
    height: 19px;
    margin: 32px;
    float: right;
    box-sizing: border-box;
  }

  .close:hover,
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }

  .community_content {display: none !important;}

  .team h1 {max-width: 350px;width: 100% !important;text-align: left;font-size: 36px;margin-top: 30px;}

  .team h2 {width: 100%;max-width: 350px;font-size: 16px;text-align: left;}

  .desktop_hidden {width: 100%;display: block;}

  .members {width: 100%;max-width: 350px;}

  .member {width: 100% !important;max-width: 350px;}

  .person {width: 100%;margin: 0;}

  .person .member {margin-bottom: 40px;}

  .image {width: 160px !important; height: 160px !important;}

  .hidden {display:none !important;}

  .name {text-align: left !important;}

  .job {text-align: left !important;}

  .desktop_hidden .description {
    margin-top: 10px;
    width: 100% !important;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: rgba(96, 101, 132, 0.75);
  }

  .person:nth-child(10) .member {margin-bottom: 0;}
  .members {margin-top: 30px;margin-bottom: 60px;}

  .desktop_hidden .links {float: left;margin:0;width: fit-content;}
  .desktop_hidden .links .linkedin {margin:0 !important;}
  .desktop_hidden .links .github {margin: 0 !important;margin-right: 10px !important;}

  .advisors {padding-bottom: inherit;max-width: 350px;margin: auto;}
  .advisors h1 {text-align: left;font-size: 36px;margin: 0;}
  .advisors .person:nth-child(8) .member {margin-bottom: 0 !important;}
  .sponsors {display: block; width: 175px;margin: auto !important;margin-top: 60px !important;}
  .sponsors .logo {margin: auto !important; margin-top: 50px !important;}

  .media {width: 100%; max-width: 350px; margin: auto;margin-top: 60px;margin-bottom: 80px;}
  .media h1 {text-align: left; font-size: 36px;margin-bottom: 30px !important;}
  .media .blocks {display: block; width: 100%; max-width: 350px;}
  .media .second {margin: 0 !important;margin-top: 20px !important;}
  .media .third {margin: 0 !important;margin-top: 20px !important;}

  .footer {display:none;}

  .footer_mobile {display:block !important;}

  .footer_mobile {position: relative;margin: auto;width: 100%;background-image: linear-gradient(292deg, #1248db, #528afc);}

  .footer_mobile .top {position: relative;width: 100%;padding-bottom: 120px;border-bottom: 1px solid rgba(255, 255, 255, 0.25);}

  .footer_mobile .top .text {font-size: 18px;position: relative;width: 80%;font-weight: normal;padding-top: 40px;margin-left: 30px;margin-bottom: 20px;font-style: normal;font-stretch: normal;line-height: 1.4;letter-spacing: normal;color: #ffffff;}

  .footer_mobile .top .buttons {
      position: relative;
      max-width: 350px;
      margin-left: 30px;
      margin-right: 30px;
  }

  .footer_mobile .top .buttons .get_started {cursor: pointer;align-items: center;box-sizing: border-box;height: 58px;padding: 20px 0;text-align: center;max-width: 350px;width: 100%;font-size: 16px;font-weight: bold;font-style: normal;font-stretch: normal;line-height: 1;letter-spacing: normal;color: #2158e2;border-radius: 8px;background-color: #ffffff;transition: 0.3s ease-in;}

  .footer_mobile .top .buttons .get_started:hover {background-color: rgba(255, 255, 255, 0.75);}

  .footer_mobile .top .buttons .run {transition: 0.3s ease-in;cursor: pointer;align-items: center;margin-top: 20px;width: 100%;text-align: center;box-sizing: border-box;height: 58px;float: left;font-size: 16px;padding: 20px 0;font-weight: bold;font-style: normal;font-stretch: normal;line-height: 1;letter-spacing: normal;color: #2158e2;border-radius: 8px;background-color: #ffffff;}

  .footer_mobile .top .buttons .run:hover {background-color: rgba(255, 255, 255, 0.75);}

  .footer_mobile .bottom {
      position: relative;
  }

  .footer_mobile .logo_block {position: relative;margin-top: 180px;padding-bottom: 40px;border-top: 1px solid #ffffff30;padding-top: 40px;width: 100%;box-sizing: border-box !important;padding-left: 40px;}

  .footer_mobile .logo {width: 114px;height: 24px;background-repeat: no-repeat;filter: invert(100%) brightness(62);background-image: url("img/combined-shape.svg");}

  .footer_mobile .rights {margin-top: 20px;font-size: 16px;width: 160px;opacity: 0.35;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.75;letter-spacing: normal;color: #ffffff;}

  .footer_mobile .bottom .community_block {
      position: relative;
      margin-left: 30px;
      margin-top: 40px;
  }

  .footer_mobile .bottom .community_block .title {font-size: 14px;font-weight: 900;font-style: normal;font-stretch: normal;line-height: 1.14;opacity: 0.35;letter-spacing: 1px;color: #ffffff;}

  .footer_mobile .bottom .community_block ul {list-style-type: none;padding: 0;margin: 0;margin-top: 30px;font-size: 16px;font-weight: bold;font-style: normal;font-stretch: normal;letter-spacing: normal;color: #ffffff;line-height: 1;}

  .footer_mobile .bottom .community_block ul li {
    cursor: pointer;
      transition: 0.3s ease-in;
      margin-bottom: 20px;
  }

  .footer_mobile .bottom .community_block ul li:nth-child(4){
    margin-bottom: 0;
  }

  .footer_mobile .bottom ul li:hover {opacity: 0.75;}

  .footer_mobile .bottom .labs_block {
      margin-top: 40px;
      position: relative;
      margin-left: 30px;
  }

  .footer_mobile .bottom .labs_block .title {font-size: 14px;font-weight: 900;font-style: normal;font-stretch: normal;line-height: 1.14;opacity: 0.35;letter-spacing: 1px;color: #ffffff;}

  .footer_mobile .bottom .labs_block ul {list-style-type: none;padding: 0;margin: 0;margin-top: 30px;font-size: 16px;font-weight: bold;font-style: normal;font-stretch: normal;letter-spacing: normal;color: #ffffff;line-height: 1;}

  .footer_mobile .bottom .labs_block ul li {
    cursor: pointer;
    transition: 0.3s ease-in;
      margin-bottom: 20px;
  }

  .footer_mobile .bottom .labs_block ul li:nth-child(3){
    margin-bottom: 0;
  }

  .footer_mobile .bottom .follow_block {
      margin-top: 40px;
      position: relative;
      margin-left: 30px;
  }

  .footer_mobile .bottom .follow_block .title {font-size: 14px;font-weight: 900;font-style: normal;font-stretch: normal;line-height: 1.14;opacity: 0.35;letter-spacing: 1px;color: #ffffff;}

  .footer_mobile .bottom .follow_block .email_section {
      margin-top: 40px;
      position: absolute;
      display: flex;
      flex-direction: row;
  }

  .footer_mobile .bottom .follow_block .email {height: 50px;width: 255px;border-radius: 6px;border: solid 1px rgba(255, 255, 255, 0.25);background-color: transparent;display: block;color: white;font-size: 16px;font-family: 'CircularStd';}

  .footer_mobile .bottom .follow_block input {text-indent:18px;line-height: 22px;}

  .footer_mobile .bottom .follow_block input::placeholder {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffffff;
  opacity: 0.35;
  font-family: 'CircularStd';}

  .footer_mobile .bottom .follow_block input:focus {border:solid 1px white;outline: none !important;caret-color: #ffffff;}

  .footer_mobile .bottom .follow_block .arrow {
      width: 24px;
      height: 19px;
      opacity: 0.35;
      top: 0;
      margin: auto;
      right: 20px;
      bottom: 0;
      background: none;
      background-image: url(img/arrow.svg);
      position: absolute;
      border: none;
  }

  .footer_mobile .bottom .follow_block .icons {max-width: 208px;margin-top: 115px;}

  .footer_mobile .bottom .follow_block .facebook {transition: 0.3s ease-in;width: 32px;height: 32px;margin-right: 20px;background-image: url("img/facebook.svg");float: left;}

  .footer_mobile .bottom .follow_block .facebook:hover {opacity: 0.5;}

  .footer_mobile .bottom .follow_block .twitter {
    transition: 0.3s ease-in;
      width: 32px;
      height: 32px;
      margin-right: 20px;
      background-image: url(img/twitter.svg);
      float: left;
  }

  .footer_mobile .bottom .follow_block .twitter:hover {opacity: 0.5;}

  .footer_mobile .bottom .follow_block .medium {
    transition: 0.3s ease-in;
      width: 32px;
      height: 32px;
      margin-right: 20px;
      background-image: url(img/medium.svg);
      float: left;
  }

  .footer_mobile .bottom .follow_block .medium:hover {opacity: 0.5;}

  .footer_mobile .bottom .follow_block .youtube {
    transition: 0.3s ease-in;
      width: 32px;
      height: 32px;
      margin-right: 20px;
      background-image: url(img/youtube.svg);
      float: left;
  }

  .footer_mobile .bottom .follow_block .youtube:hover {opacity:0.5;}
}
